<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        {{> header}}
        <title>
            About the website
        </title>
    </head>
            <body>
            <h1>This is the home of the website</h1>
            <h1>Hello {{pageTitle}}</h1>
            {{> footer}}
        </body>
</html>