<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            <h1>Welcome</h1>
        </title>
        <body>
            <p>the site is being updated</p>
        </body>
    </head>
</html>